@using EntityLayer.Concrete
@model List<SalesTransaction>

@{
    ViewBag.Title = "SalesDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Satış Detayı</h2>
<br />

<table class="table table-condensed">
    <tr>
        <th>Satış ID</th>
        <th>Ürün</th>
        <th>Cari</th>
        <th>Personel</th>
        <th>Fiyat</th>
        <th>Adet</th>
        <th>Toplam</th>
        <th>Tarih</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SalesTransactionID</td>
            <td>@item.Product.ProductName</td>
            <td>@item.Cari.CariName @item.Cari.CariSurname</td>
            <td>@item.Employee.EmployeeName @item.Employee.EmployeeSurname</td>
            <td>@item.UnitPrice</td>
            <td>@item.Amount</td>
            <td>@item.TotalPrice</td>
            <td>@item.SalesDate</td>
        </tr>
    }

</table>
<button class="btn btn-default" style="background-color:dodgerblue">Yazdır</button>

